header {
    margin-top: 30px;
    margin-left: 200px;
    background-color: whitesmoke;
    width: 120px;
    padding: 15px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    display: flex;
    justify-content: center;

}

.header i {

    font-size: 20px;
    padding: 5px;
    border-radius: 4px;

}

.countheader {
    background-color: yellow;
    padding: 4px;
    font-size: 20px;
    border-radius: 7px;
}

body {
    position: relative;
}

header i {
    color: rgb(112, 212, 223);
    font-size: 30px;
}

header span {
    font-size: 20px;
    text-transform: capitalize;
}

h1 {
    margin: 0px;

}

body {
    margin: 0px;
    padding: 0px;
}

.container {
    position: relative;
    display: flex;
}

.parent {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    justify-content: space-evenly;

}


.product {
    width: 270px;
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    box-shadow: 2px 3px 4px #777;
    text-align: start;
    cursor: pointer;
    position: relative;
    border: 2px solid black;
    perspective: 100px;
}
.product:hover {
    transform: scale(1.05);

}

.img {
    background-size: cover;
    max-width: 290px;

    background-repeat: no-repeat;
    height: 300px;
    border-radius: 6px;



}

.product h3 {
    color: white;
    font-size: 19px;
    padding: 10px;
}

.product span {
    font-size: 30px;
    color: white;
    padding: 10px;

}

.btncontainer {
    text-align: right;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;

}

.btncontainer button {
    background-color: transparent;
}

.btncontainer button {


    border: none;

    font-size: 40px;
    border-radius: 4px;

    outline: none;
    cursor: pointer;

}

.card {

    width: 20%;

    height: 1000px;
    position: sticky;

    top: 70px;
    background-color: rgb(112, 212, 223);
    border-radius: 6px;
    padding: 30px 10px;
    text-align: center;
}

.card h4 {
    font-size: 15px;
}

.card .operation {
    display: flex;
    justify-content: space-evenly;

}

.carditem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 6px;

}

/* @media (max-width:500px) {
.carditem{
    flex-direction: column;
}
.operation{
    display:none !important;
}
} */

.carditem img {
    width: 60px;
    border: 2px solid white;
}

.carditem div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
}

.carditem div span {
    font-size: 20px;

}

.carditem div span:first-of-type {
    color: red;
    font-size: 35px;

    cursor: pointer;
}

.carditem div span:last-of-type {
    color: red;
    cursor: pointer;
    font-size: 35px;
}

.footer {
    padding-top: 10px;
    text-align: center;
    background-color: white;
    border-radius: 4px;
    margin-top: 30px;
}

.footer p {
    width: 100%;
    font-size: 16px;
    text-transform: capitalize;
}

.footer button {
    background-color: yellow;
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.remove {
    color: red;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width:750px) {
    .card {
        padding: 0px;
        width: 30%;
    }

    .operation {
        display: none !important;
    }

    .carditem {
        flex-direction: column;
    }

    .carditem img {
        width: 50px;
    }

    .footer {
        width: 100%;
        font-size: 12px;
    }

    .footer p {
        display: flex;
        flex-direction: column;
    }

    .count {
        flex-direction: column;
    }

    header {
        margin-left: 0px;
    }
}

.count span {
    font-size: 40px;
}

.mainslider {
   position: relative;
   height: 250px;
    display: flex;
    margin: auto;
    width: 100%;
    overflow: hidden;
    place-items: center;
}

.slider {
    width: 2420px;
   margin: auto;
    height: 200px;
    display: flex;
 place-items: center;
gap:20px;


}

.slider div {
    width: 200px;
    height: 250px;

animation-name: anim;
animation-duration: 10s;animation-iteration-count: infinite;
animation-timing-function: linear;
animation-fill-mode:backwards;
perspective: 100px;

}

@keyframes anim {
   100%{
    transform: translateX(-1200px);

   } 
}
.slider div img {

    width: 100%;
    height: 100%;
}

.best{
    text-align: center;
}
.best h2{
    font-size: 30px;
    font-style: italic;
    text-transform: uppercase;
}
.slider div img:hover{
    transform: translateZ(20px);
}
.contact{
display: flex;
margin:100px auto 0px;
padding: 30px;
}
.contact iframe{
    border: 2px solid black;
}
.contact input{
   
    margin-bottom: 30px;
}
.contact input[type="submit"]{
    margin-top: 10px !important;
}
@media (max-width:500px) {
    .contact{
        flex-direction: column;
    }
    .contact iframe{
        width: 100%;
    }
    
}